/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;/* Margin bottom by footer height */

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
/*  background-color: #f5f5f5;
*/}

#col-1 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #ffffff;
  /*z-index: 1010101010*/
}

#col-2 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #ffffff;
  /*z-index: 1010101010;*/
  display: none;

}

.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}

#my_meals_view{
  margin-left: 0px;
}

#create_customer_secret_key{
  margin-right: 200px;
  margin-left: 200px;
}

#choose_customer_view{
  margin-right: 900px;
  margin-left: 200px;
}

.formOnCustomerIdentity{
  margin-left: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0px 50px 0px ;
    padding: 0;

}

.images{
/*  margin-left: 200px
*/}

img {
  /*filter: gray;*/ /* IE6-9 */
  /*-webkit-filter: grayscale(1); *//* Google Chrome, Safari 6+ & Opera 15+ */
  /*-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);*/
  
  margin-bottom:20px;
  margin-top: 40px;
  width: 500px;
  height: 300px;
}
img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
  }
  .images{
    margin: 30px;
   
    position: relative;

  }

  #user_answer{
    display: block;
    background-color: #428bca;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-flex;
    float: right;
  
}

   #dietitian_answer{
    display: block;
    background-color: grey;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-flex;
    float: left;

  }

  .form-group{
    width: 220px;
  }

  .fa {
    margin-left: 15px;
  }

#text{
  max-width: 50px
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.container-fluid{
  width: 90%;
  margin-top: 30px
}

#directonalButtons{
  
  margin: 10px;
  margin-right: 10px;
}

#nextWeek{
  margin-left: 10px;
  
}

#previousWeek{
  }

 @media all and (max-width: 360px){
    .row{
        margin-left: 0px;
      }
    #choose_customer_view{
        margin-right: 5px;
        margin-left: 5px;
      }
    #create_customer_secret_key{
      margin-right: 5px;
      margin-left: 5px;
      }
    .container-fluid{
        margin-left: 0px; 
        margin-right: 0px;   
      }
      #sendMessageId{
        width: 80vw; /*= 80% of viewport width*/
        margin-left: 5px;
      }
    .container{
      margin: 1px;
    }  

   }